<a href="https://colab.research.google.com/github/hwarang97/coding-test/blob/main/%EB%8B%A4%EC%9D%8C%20%ED%81%B0%20%EC%88%AB%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from collections import deque

def solution(n):

    # 더 큰 숫자는 큰것중에서 가장 작은것
    # 1의 갯수는 동일하다
    # 숫자배열에 1이 아닌 0이 들어가는것이 더 작을것이고, 0이 앞에서 2번째에 들어가는것이 제일 작을 것이다

    # 문자열의 모든 수가 1인 경우
    # 1011 < 1101 < 1110 (문자열의 모든 수가 1인 경우)

    # 모든 수가 1이 아닌 경우는
    # 1중 하나는 한칸위로, 나머지 1은 뒤쪽에서부터 배치.

    # 자연수 -> 이진수(문자열) -> 다음큰수(문자열) -> 다음큰수(자연수)


    # n = 3
    bi_n = bin(n)
    # print(bi_n)

    if '0' in bi_n[2:]:
        # 0도 있는 경우

        count = bi_n.count('1') -2 # 계산할 때 2를 뺴야함 (하나는 맨앞의 1, 하나는 그 다음의 1)
        length = len(bi_n)
        target = -1

        # print(length)

        for idx, value in enumerate(bi_n[3:]):
            if value == '1':
                target = idx + 2
                break

        # 앞의 세개는 b,0.1 문자열, idx 자리에1, 나머지 1의 갯수만큼을 전부 1로 만들기, 이때 1의 갯수가 0이하일경우는 패스
        l = ['0' for _ in range(length)]
        l[1], l[2] = 'b', '1'
        l[target] = '1'
        if count > 0:
            start = -count
            l[start:] = ['1' for _ in range(count)] # 여기서 왜 리스트가 잘리는거지?
            # 3개가 '1'로 퉁 쳐버리는것. 각각 하나씩 들어가는 대입 연산이 될려면 iterable한 객체여야함
            # print(l, 'asdfasdf')

        # 1이 하나 잘리는 경우가 생김. 다시 확인해보자.

    else:
        # 1만 있는 경우
        l = deque(bi_n)
        l.insert(3, '0')

    next_n = int(''.join(l),2)
    answer = next_n
    return answer

In [ ]:
n = 78
solution(n) # 83

83

In [ ]:
l = ['0' for _ in range(9)]
print(l)

['0', '0', '0', '0', '0', '0', '0', '0', '0']

In [2]:
def solution(n):
    answer = 0
    bi = bin(n)[2:]
    for number in range(n+1, 1000000): # n은 1000000 이하의 자연수
        next_bi = bin(number)
        if next_bi.count('1') == bi.count('1'):
            answer = int(next_bi, 2)
            break

    return answer

In [3]:
n = 78
solution(n) # 83

83

# 궁금한점

왜 print(list(bi_n).insert(3, '0')) 를 실행시키면, None 값이 나올까??   
적어도 리스트로 만들어진것을 반환해야하지 않나? 아니면 혹시 insert는 리스트 자체를 바꾸지 반환되는 값을 없는것인가??

list.inset는 list 객체값을 변경하는 작업이지 반환하지는 않는다. remove를 포함한 다른 연산들도 마찬가지인것같다.

========================

'in \<string>' requires string as left operand, not int   
이건 무슨 오류일까?? 피연산자가 string이여야한다는 말인것같은데, in <string>은 무슨 뜻이지??

=======================

\<string>은 객체타입을 나타낸것으로 보인다. 즉 in 다음에 string 객체가 온 상황은 in의 좌측 피연산자로 스트링 타입의 객체를 원하는데, int객체가 왔다는 내용이다.

========================   
xrange 에 대해서도 알아보자

iterable한 객체라는 것은 반복문에 사용할 수 있다 정도로 해석하면 되는건가??   

=========   

 # l[-3:] = '1' # 여기서 왜 리스트가 잘리는거지?
            # 3개가 '1'로 퉁 쳐버리는것. 각각 하나씩 들어가는 대입 연산이 될려면 iterable한 객체여야함   


['0', 'b', '1', '0', '1', '0', '0', '0', '0'] asfsfsf
['0', 'b', '1', '0', '1', '0', '1'] asdfasdf
['0', 'b', '1', '0', '1', '0', '1']   

위의 코드에서 리스트 l의 마지막 3개 요소를 '1'로 바꾸려고 시도하였는데, 이 부분에서 리스트 대입 연산을 사용하면서 생긴 오류입니다. 리스트 대입 연산에서는 대입할 값이 반드시 리스트나 다른 반복 가능한(iterable) 객체여야 합니다. 그러나 '1'은 문자열이며, 이는 문자열도 반복 가능한 객체이기 때문에 각 문자를 리스트의 요소로 추가하는 방식으로 처리됩니다.

따라서 '1' 문자열을 리스트로 변환하여 각 문자를 요소로 추가하게 되면, 리스트의 길이가 3개에서 1개로 줄어들게 됩니다.

In [ ]:
# [1,0,0,1,1,0] -> [1,0,1,0,1]

In [ ]:
a = ''
for k in range(1,10):
    a += 'k'

print(a)

kkkkkkkkk

In [ ]:
# 배열이든 덱이든 메모리상에서 연속된 구조이고, 각 구조안에 메모리 참조할 메모리 주소가 들어있는것이라면
# 인덱스 슬라이싱으로 다른 덱을 집어넣어도 될것같다
# 덱은 인덱스 슬라이싱이 안되네

a = deque([1,2,3,4,5])
print(a[3])

4

In [ ]:
a = [1,2,3,4,5]
print(a.insert(2,1000)) # None
print(a) # [1,2,1000,3,4,5]

print(a.remove(1000)) # None
print(a) # [1,2,3,4,5]

None
[1, 2, 1000, 3, 4, 5]
None
[1, 2, 3, 4, 5]

In [ ]:
n = 15
solution(n) # 23